<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app/views/application/style.css">
  <title>projet</title>
<style>
 h1{
  font-size: 3rem;
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 1rem 0;
}
button{
 font-size: 1.3rem;
 top:25%
 
 }
 body{
  background-color:black;
 }
</style>
  
</head>
<body> 
    <h1>Hello!,Welcome To Home Pge</h1>
    <button onclick="path()">Click to see Form here</button>
    <script>
      function path(){
        location.href="articles";
      }
    </script>
</body>
</html>

